[colors]
background={{base00-hex}}e6
text={{base0F-hex}}ff
prompt={{base0F-hex}}ff
placeholder={{base06-hex}}80
input={{base0F-hex}}ff
match={{base09-hex}}ff
selection={{base0F-hex}}ff
selection-text={{base00-hex}}ff
selection-match={{base09-hex}}ff
border={{base0E-hex}}ff

