vim.api.nvim_set_hl(0, "Normal",     { fg="#{{base0F-hex}}", bg="none" })
vim.api.nvim_set_hl(0, "Comment",    { fg="#{{base08-hex}}", italic=true })
vim.api.nvim_set_hl(0, "LineNr",     { fg="#{{base0A-hex}}" })

vim.api.nvim_set_hl(0, "Function",   { fg="#{{base01-hex}}" })
vim.api.nvim_set_hl(0, "Identifier", { fg="#{{base06-hex}}" })
vim.api.nvim_set_hl(0, "Keyword",    { fg="#{{base02-hex}}", bold=true })
vim.api.nvim_set_hl(0, "PreProc",    { fg="#{{base09-hex}}" })
vim.api.nvim_set_hl(0, "Special",    { fg="#{{base0C-hex}}" })
vim.api.nvim_set_hl(0, "Type",       { fg="#{{base04-hex}}", bold=true })

-- variables
-- ==========
vim.api.nvim_set_hl(0, "Boolean",    { fg="#{{base0F-hex}}" })
vim.api.nvim_set_hl(0, "Character",  { fg="#{{base0F-hex}}" })
vim.api.nvim_set_hl(0, "Constant",   { fg="#{{base0F-hex}}" })
vim.api.nvim_set_hl(0, "Float",      { fg="#{{base0F-hex}}" })
vim.api.nvim_set_hl(0, "Number",     { fg="#{{base0F-hex}}" })
vim.api.nvim_set_hl(0, "String",     { fg="#{{base07-hex}}" })

