return {
  normal = {
    a = {fg = '{{base0F-hex}}', bg = '{{base06-hex}}', gui = 'bold'},
    b = {fg = '{{base0E-hex}}', bg = '{{base02-hex}}'},
    c = {fg = '{{base06-hex}}', bg = '{{base0F-hex}}'}
  },
  insert = {
    a = {fg = '{{base00-hex}}', bg = '{{base0B-hex}}', gui = 'bold'},
    b = {fg = '{{base03-hex}}', bg = '{{base01-hex}}'},
    c = {fg = '{{base0B-hex}}', bg = '{{base00-hex}}'}
  },
  visual = {
    a = {fg = '{{base00-hex}}', bg = '{{base0D-hex}}', gui = 'bold'},
    b = {fg = '{{base00-hex}}', bg = '{{base05-hex}}'},
    c = {fg = '{{base0D-hex}}', bg = '{{base00-hex}}'}
  },
  replace = {
    a = {fg = '{{base0F-hex}}', bg = '{{base09-hex}}', gui = 'bold'},
    b = {fg = '{{base03-hex}}', bg = '{{base01-hex}}'},
    c = {fg = '{{base09-hex}}', bg = '{{base00-hex}}'}
  },
  command = {
    a = {fg = '{{base0F-hex}}', bg = '{{base00-hex}}', gui = 'bold'},
    b = {fg = '{{base0F-hex}}', bg = '{{base08-hex}}'},
    c = {fg = '{{base0E-hex}}', bg = '{{base02-hex}}'}
  },
  inactive = {
    a = {fg = '{{base0E-hex}}',  bg = '{{base08-hex}}', gui = 'bold'},
    b = {fg = '{{base0E-hex}}',  bg = '{{base08-hex}}'},
    c = {fg = '{{base0E-hex}}',  bg = '{{base08-hex}}'}
  },
}

