[colors]
alpha=0.9
background={{base00-hex}}
foreground={{base0F-hex}}

regular0={{base00-hex}}
regular1={{base01-hex}}
regular2={{base02-hex}}
regular3={{base03-hex}}
regular4={{base04-hex}}
regular5={{base05-hex}}
regular6={{base06-hex}}
regular7={{base07-hex}}

bright0={{base08-hex}}
bright1={{base09-hex}}
bright2={{base0A-hex}}
bright3={{base0B-hex}}
bright4={{base0C-hex}}
bright5={{base0D-hex}}
bright6={{base0E-hex}}
bright7={{base0F-hex}}

